.social-wrap {
  width: fit-content;
  margin: -1.5rem auto -2rem auto;
  padding: 0.5rem;
  border-radius: 50px;
  display: flex;
}

/* img {
  width: 30px;
  height: 30px;
  border-radius: 10%;
} */
.social-container {
  width: 400px;

  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 260ms ease-out;
}

.social-square {
  display: inline-block;
}

.social-square::before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;

  transition: all 265ms ease-out;
}

.social-square:hover::before {
  transform: scale(0);
  transition: all 265ms ease-out;
}

.social-square:hover .social {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-out;
}

.social-square.social-square::before {
  border-radius: 10%;
}

.social-square.social-square:hover::before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}

.social-square.social-square:hover .social {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  transform: scale(1.6);
  -webkit-text-size-color: #fff;
}
